# This docker compose starts the Balancia application in production mode.

version: "3.9"
services:
  balancia-client:
    image: node:24-alpine
    working_dir: /app
    command: sh -c "npm install -g pnpm && pnpm i && pnpm build:packages && pnpm build:client && pnpm start:client"
    volumes:
      - .:/app
    depends_on:
      - server
    tty: true

  balancia-server:
    image: node:24-alpine
    working_dir: /app
    command: sh -c "npm install -g pnpm && pnpm i && pnpm build:packages && pnpm build:server && pnpm:db:migrate &&  pnpm start:server"
    volumes:
      - .:/app
