# This docker compose starts the Balancia application in production mode.

version: "3.9"
services:
  balancia-client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
      target: static-files
    image: balancia-client:latest
    volumes:
      - ./apps/client/dist:/app/dist:ro
    command: ["sleep", "infinity"]
    networks:
      - "balancia_network"

  balancia-server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    image: balancia-server:latest
    env_file:
      - apps/server/.env
    networks:
      - "balancia_network"
    environment:
      CI: true

networks:
  balancia_network:
    external: true
