# This docker compose starts the Balancia application in production mode.

version: "3.9"
services:
  balancia-client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
      target: builder
    volumes:
      - balancia_client_dist:/output
    command: sh -c "echo 'Checking dist folder...' && ls -la /app/apps/client/dist && echo 'Copying files...' && cp -r /app/apps/client/dist/. /output/ && echo 'Copy complete!' && ls -la /output && sleep infinity"
    networks:
      - "balancia_network"

  balancia-server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    env_file:
      - apps/server/.env
    networks:
      - "balancia_network"
    environment:
      CI: true

networks:
  balancia_network:
    external: true
