# [ ENV ]
NODE_ENV="development" # "production" by default

# [ DEBUG ]
LOG_ENV_VALUES=true # true/false

# [ RATE LIMITING ]
# MAX_REQUESTS_PER_MINUTE=120 # Rate limiting for all endpoints (except for the ones with specific configuration)
# MAX_JWT_REQUESTS_PER_MINUTE=8 # Rate limiting for JWT sign endpoint

# [ AUTHENTICATION ]
OIDC_SERVER_HOST=""
OIDC_CLIENT_ID=""
OIDC_CLIENT_SECRET=""
OIDC_ISSUER_URL=""

# [ DATABASE ]
DATABASE_URL=""

# [ CORS ]
# CORS_ONLY_ALLOW_DOMAINS="domain1.com,domain2.com" # Allowed CORS domains (if more than one, separate by ','. Ex: "domain1.com,domain2.com"). If left commented all are allowed

# [ CACHE ]
# Cache cannot be 0 in any case.

# USER_CACHE_TTL=1800000 # In ms (by default 30 minutes)
# DATA_CACHE_TTL=600000 # In ms (by default 10 minutes)