.form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/*
    Based on:
    Figma: https://www.figma.com/design/BC4QCCxSbbZTkmris1dAGZ/50-Web-Sign-up%2Flog-in-designs-(Community)?node-id=60-5239&t=RCjwah4eCjAXwups-0
    Component: 10
*/
