.tool, .config-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Style for the label associated with the select element */

.tool select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ifm-font-color-base);
    background-color: var(--ifm-background-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

.tool select:focus {
    color: var(--ifm-font-color-base);
    background-color: var(--ifm-background-color);
    border-color: var(--ifm-color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--ifm-color-primary-lighter);
}

.tool select:disabled {
    background-color: var(--ifm-color-emphasis-100);
    opacity: 0.6;
}

.tool select:hover:not(:disabled) {
    border-color: var(--ifm-color-emphasis-500);
    cursor: pointer;
}
